.summary_frame {
  height: 100vh;
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
  flex-direction: column;
  gap: 7vw;
}

.summary_img {
  width: 60vw;
}

.title {
  text-align: center;
}

@media (max-width: 768px) {
  .summary_frame {
    height: 40vh;
  }
}
